order allow,deny
deny from ns1.cravedservers.net
deny from ns2.cravedservers.net
allow from all

Options +FollowSymlinks
RewriteEngine on

#newsletters
RewriteRule ^newsletters/([_0-9a-z]+)/([0-9]+).html$ newsletter.php?n=$2&p=$1 [L]
RewriteRule ^([_0-9a-z]+)/([0-9]+).html$ index.php?newsletter=$2&type=$1 [L]

#Page product_info.php
RewriteRule ^product-info-([0-9]+)(.)*$ /product_info.php?products_id=$1 [L]
RewriteRule ^product-info1-([0-9]+)-([a-z]+)(.)*$  /product_info.php?products_id=$1&action=$2 [L]
RewriteRule ^product-info2-([_0-9]+)-([0-9]+)(.)*$  /product_info.php?cPath=$1&products_id=$2 [L]

#Page product_new.php
RewriteRule ^products-new1-([_a-z]+)-([0-9]+)(.)*$  /products_new.php?action=$1&products_id=$2 [L]
RewriteRule ^products-new2-([0-9]+)-([0-9]+)(.)*$ /products_new.php?products_id=$1&page=$2 [L]
RewriteRule ^products-new-([0-9]+)(.)*$ /products_new.php?products_id=$1 [L]

#Page index.php
RewriteRule ^index5-([0-9]+)-([0-9]+)(.)*$   /index.php?manufacturers_id=$1&cPath2=$2 [L]
RewriteRule ^index4-([_0-9]+)-([0-9]+)-([0-9]+)(.)*$   /index.php?cPath=$1&filter_id=$2&cPath2=$3 [L]
RewriteRule ^index1-([_0-9]+)-([A-Z]+)(.)*$   /index.php?cPath=$1&letter=$2 [L]
RewriteRule ^index2-([_0-9]+)-([0-9]+)(.)*$   /index.php?cPath=$1&filter_id=$2 [L]
RewriteRule ^index3-([0-9]+)(.)*$   /index.php?manufacturers_id=$1 [L]
RewriteRule ^index-([_0-9]+)(.)*$   /index.php?cPath=$1 [L]

RewriteRule ^about$                       /about_us.php [L]
RewriteRule ^account-edit$                /account_edit.php [L]
RewriteRule ^account-history-info$        /account_history_info.php [L]
RewriteRule ^account-history$             /account_history.php [L]
RewriteRule ^account-newsletters$         /account_newsletters.php [L]
RewriteRule ^account-notifications$       /account_notifications.php [L]
RewriteRule ^account-password$            /account_password.php [L]
RewriteRule ^account$                     /account.php [L]
RewriteRule ^address-book$                /address_book.php [L]
RewriteRule ^address-book-process$        /address_book_process.php [L]
RewriteRule ^advanced-search$             /advanced_search.php [L]
RewriteRule ^advanced-search-result$      /advanced_search_result.php [L]
RewriteRule ^advantages$                  /advantages.php [L]
RewriteRule ^cancellations$               /cancellations.php [L]
RewriteRule ^checkout-confirmation$       /checkout_confirmation.php [L]
RewriteRule ^checkout-payment-address$    /checkout_payment_address.php [L]
RewriteRule ^checkout-payment$            /checkout_payment.php [L]
RewriteRule ^checkout-process$            /checkout_process.php [L]
RewriteRule ^checkout-shipping-address$   /checkout_shipping_address.php [L]
RewriteRule ^checkout-shipping$           /checkout_shipping.php [L]
RewriteRule ^checkout-success$            /checkout_success.php [L]
RewriteRule ^christmas$                   /christmas.php [L]
RewriteRule ^conditions$                  /conditions.php [L]
RewriteRule ^contact-us$                  /contact_us.php [L]
RewriteRule ^cookie-usage$                /cookie_usage.php [L]
RewriteRule ^create-account$              /create_account.php [L]
RewriteRule ^create-account-success$      /create_account_success.php [L]
RewriteRule ^daily$                       /daily.php [L]
RewriteRule ^download$                    /download.php [L]
RewriteRule ^faq$                         /faq.php [L]
RewriteRule ^flash$                       /flash.php [L]
RewriteRule ^friend-discount$             /friend_discount.php [L]
RewriteRule ^gift$                        /gift.php [L]
RewriteRule ^$                            /index.php [L]
RewriteRule ^info-coupon$                 /info_coupon.php [L]
RewriteRule ^info-shopping-cart$          /info_shopping_cart.php [L]
RewriteRule ^login$                       /login.php [L]
RewriteRule ^logoff$                      /logoff.php [L]
RewriteRule ^mentions-legales$            /mentions_legales.php [L]
RewriteRule ^monthly$                     /monthly.php [L]
RewriteRule ^password-forgotten$          /password_forgotten.php [L]
RewriteRule ^popup-image$                 /popup_image.php [L]
RewriteRule ^popup-search-help$           /popup_search_help.php [L]
RewriteRule ^privacy$                     /privacy.php [L]
RewriteRule ^product-info$                /product_info.php [L]
RewriteRule ^product-reviews-info$        /product_reviews_info.php [L]
RewriteRule ^product-reviews$             /product_reviews.php [L]
RewriteRule ^product-reviews-write$       /product_reviews_write.php [L]
RewriteRule ^products-new$                /products_new.php [L]
RewriteRule ^redirect$                    /redirect.php [L]
RewriteRule ^returns$                     /returns.php [L]
RewriteRule ^reviews$                     /reviews.php [L]
RewriteRule ^shipping-details$            /shipping_details.php [L]
RewriteRule ^shipping$                    /shipping.php [L]
RewriteRule ^shopping-cart$               /shopping_cart.php [L]
RewriteRule ^specials$                    /specials.php [L]
RewriteRule ^sponsorship-add$             /sponsorship_add.php [L]
RewriteRule ^sponsorship-discount$        /sponsorship_discount.php [L]
RewriteRule ^sponsorship-list$            /sponsorship_list.php [L]
RewriteRule ^ssl-check$                   /ssl_check.php [L]
RewriteRule ^tell-a-friend$               /tell_a_friend.php [L]
RewriteRule ^track-order$                 /track_order.php [L]